<section class="py-5">
  <h1 class="display-3">Thank You</h1>
  <p class="lead">You should receive a confirmation email shortly regarding your order</p>
  <a href="/" class="btn btn-outline-dark btn-lg">Go Home</a>
</section>